<header>
    <img 
        src = "assets/img/poliana.jpg" 
        alt = "Foto de perfil de Poliana"
        width="200px"
        height="200px"
        loading="eager"
     />
     <h1>Poliana Cruz Costa</h1>
</header>

<aside>
    <div class = "container">
        <p>Java | Python | C | C++ | JavaScript</p>
        <p>CSS | TypeScript | html</p>
        <p>Excel | LaTex</p>
        <p>Maria da Fé - Minas Gerais - Brasil</p>
        <p>
            Estudante de Engenharia de Computação pela Universidade Federal de Itajubá (UNIFEI).
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/curriculo.pdf" target="_blank" class = "btn btn-primary">
                        Download Currículo
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/poccos/" target="_blank" class = "btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</aside>
